//denotes theme primary color
$primary: #d8c758;

//denotes theme secondary color
$secondary: #F26520;

//denotes tertiary color
$tertiary: #292F3E;

//background color #F7FAFC
$background: #F7FAFC;

//container width
$container-width:1200px;

//font family
$font: 'Plus Jakarta Sans',sans-serif;

//font size
$font-size: 16px;

//font-color
$font-color:#666666;

//line height
$line-height: 25px;

//ipad width
$tablet:900px;

//iphone width
$mobile:500px;