//denotes theme primary color
$primary: #7858d8;

//denotes theme secondary color
$secondary: #F26520;

//denotes tertiary color
$tertiary: #292F3E;

//background color #F7FAFC
$background: #F7FAFC;

//container width
$container-width:900px;

//font family
$font: sans-serif;

//font size
$font-size: 16px;

//line height
$line-height: 25px;

//ipad width
$tablet:900px;

//iphone width
$mobile:500px;