<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light weight framework</title>
    <link rel="stylesheet" href="assets/css/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">

    <!-- vue 2 -->
    <script src="assets/js/vue2.js"></script>
<style>
    /* Some basic styling */


    .current-date {
      background-color: #292F3E;
      color:#fff;
      border-radius:5px;
    }

    .focused {
      outline: 2px solid #ccc;
      border-radius:5px;
    }
  </style>
</head>

<body class="full-screen bg-light-grey">
    <div class="container" id="app">
      <div class="gap"></div>
        <div class="row">
            <div class="col">
                <h3>Datepicker</h3>
                <p>A demostration of a datepicker with v-model binding.</p>
                Date 1: {{foo}} <br>Date 2: {{bar}}


                <div class="form-group">
                    <datepicker v-model="foo" name="foo" ></datepicker>
                </div>
                <div class="form-group">
                    <datepicker v-model="bar" name="bar"></datepicker>
                </div>
                <div class="form-group">
                   <p class="text-muted">[ Without v-model binding ]</p>
                  <datepicker name="baz" value="2000-09-09"></datepicker>
                </div>

            </div>
        </div>
    </div>

   <!-- Click out must go before all other scripts -->
   <script src="assets/js/click-outside.js"></script>
   <script src="assets/js/focus-trap.js"></script>
   <script src="assets/js/datepicker.js"></script>

    <!-- feather icons -->
    <script src="assets/js/feather.js"></script>


    
        <script>
            /*
            |---------------------------------------------------------------
            | Base entry for vue app
            |---------------------------------------------------------------
            |
            |
            */
            var app = new Vue({
                el: '#app',
                data:
                {
                  foo: '2000-01-01',
                  bar:''
                }
            })
        </script>

      <script>
      feather.replace({
        class: "font-primary",
      });
    </script>

</body>

</html>
