@import "variables";

.badge{
    display: inline-block;
    margin-right: 10px;
    min-width: 10px;
    // padding: 4px 9px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 20px; 

    &-primary{
        background-color: $primary;
        color: #ffffff;
    }

    &-info{
        background-color: #eaeef5;
        color: #506e9e;
        border: 1px solid #506e9e;
    }
    &-success{
        background-color: #ECFEEC;
        color: #2b6739;
        border: 1px solid #2b6739;
    }

    &-danger{
        background-color: #FCEAEB;
        color: #983538;
        border: 1px solid #983538;
    }
    &-warning{
        background-color: #fbfad8;
        color: #bb8913;
        border: 1px solid #a27919;
    }
    &-light{
        background-color: #ffffff;
        border: 1px solid $grey;
    }

    &-dark{
        background-color: $tertiary;
        color: #ffffff;
    }
}

@media (max-width: $tablet) 
{
   .badge {
      float:left;
      border:0 !important;
      font-size:0;
      margin-top:4px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
      padding:0px;
      min-width:8px !important;
      min-height:8px !important;
      background-color:$grey;

   }
}

