*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  background-color: #F7FAFC;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #666666;
  line-height: 25px;
  letter-spacing: 0.01em;
}

p {
  margin-top: 10px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.small {
  position: relative;
  padding-top: 10px;
  font-size: 14px;
}

a {
  color: #007bd9;
  transition: all 0.1s ease;
}

a:hover {
  color: #007bd9;
}

label {
  position: relative;
  color: #333;
  margin-bottom: 5px;
}

.code {
  position: relative;
  padding: 30px;
  background-color: #fff;
  overflow-x: auto;
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

/*
|---------------------------------------------------------------
| Grid system
|---------------------------------------------------------------
*/
.container {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.medium-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.row > :first-child {
  margin-left: 0;
}

.row > :last-child {
  margin-right: 0;
}

.col {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.col,
[class*=" col-"],
[class^=col-] {
  margin: 1rem;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

.col-9 {
  flex: 9;
}

.col-10 {
  flex: 10;
}

.col-11 {
  flex: 11;
}

.col-12 {
  flex: 12;
}

ul {
  list-style: square inside;
}

ol {
  list-style: decimal inside;
}

.table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .col,
[class*=" col-"],
[class^=col-] {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    flex: 0 0 100%;
  }
}
/*
|---------------------------------------------------------------
| Panels
|---------------------------------------------------------------
*/
.panel {
  position: relative;
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #cccccc;
}

/*
|---------------------------------------------------------------
| Utility classes
|---------------------------------------------------------------
*/
.bg-primary {
  background-color: #c73b4d;
  color: #ffffff;
}

.bg-secondary {
  background-color: #F26520;
  color: #ffffff;
}

.bg-success {
  background-color: #6ecf78;
  color: #ffffff;
}

.bg-danger {
  background-color: #983538;
  color: #ffffff;
}

.bg-light {
  background-color: #ffffff;
}

.bg-white {
  background-color: #ffffff;
}

.bg-grey {
  background-color: rgb(243, 243, 243);
}

.bg-dark {
  background-color: #292F3E;
  color: #ffffff;
}

.drop-shadow {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.br {
  border-radius: 5px;
}
.br-full {
  border-radius: 50%;
}
.br-tl {
  border-top-left-radius: 5px;
}
.br-tr {
  border-top-right-radius: 5px;
}
.br-bl {
  border-bottom-left-radius: 5px;
}
.br-br {
  border-bottom-right-radius: 5px;
}

/*
|---------------------------------------------------------------
| Icon size
|---------------------------------------------------------------
*/
.icon {
  height: 40px;
  width: 40px;
}

.no-select {
  user-select: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

/*
|---------------------------------------------------------------
| Margins and paddings
|---------------------------------------------------------------
*/
.gap {
  padding-top: 80px;
}

.m {
  margin: 10px;
}
.m-t {
  margin-top: 10px;
}
.m-l {
  margin-left: 10px;
}
.m-r {
  margin-right: 10px;
}
.m-b {
  margin-bottom: 10px;
}

.p {
  padding: 10px;
}
.p-lg {
  padding: 30px;
}
.p-t {
  padding-top: 10px;
}
.p-l {
  padding-left: 10px;
}
.p-r {
  padding-right: 10px;
}
.p-b {
  padding-bottom: 10px;
}

.b {
  border: 1px solid #cccccc;
}
.b-t {
  border-top: 1px solid #cccccc;
}
.b-l {
  border-left: 1px solid #cccccc;
}
.b-r {
  border-right: 1px solid #cccccc;
}
.b-b {
  border-bottom: 1px solid #cccccc;
}

.border-fix {
  margin-top: -1px;
  margin-left: -1px;
}

/*
|---------------------------------------------------------------
| Position utilities
|---------------------------------------------------------------
*/
.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-sticky {
  position: sticky;
}

.top-0 {
  top: -15px;
}

.left-0 {
  left: 20px;
}

/*
|---------------------------------------------------------------
| cursor utilities
|---------------------------------------------------------------
*/
.hand {
  cursor: pointer;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-center {
  margin: 0 auto;
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.full-screen {
  width: 100%;
  min-height: 100vh;
}

.v-a {
  display: flex;
  align-items: center;
}

.h-a {
  display: flex;
  justify-content: center;
}

.center,
.right {
  align-items: center;
  display: flex;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

.left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fixed {
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .hide-phone {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .hide-tablet {
    display: none;
  }
}

/*# sourceMappingURL=base.css.map */
