@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    box-sizing: border-box;
    margin: 0;
    background-color: $background;
    padding: 0;
}

body {
    font-size: $font-size;
    font-family: $font;
    color: $font-color ;
    line-height: $line-height;
    letter-spacing: .01em;
}

p{
    margin-top: 10px;
}

.small{
    position: relative;
    padding-top:10px;
    font-size: 14px;
}


a {
    color: $link-color;
    transition: all .1s ease;
}

a:hover {
    color: $link-color;
}

label{
    position: relative;
    color: #333;
    display: block;
    margin-bottom: 5px; 
}
/*
|---------------------------------------------------------------
| Grid system
|---------------------------------------------------------------
*/

.container {
    position: relative;
    max-width: $container-width;
    margin: 0 auto;
}

.medium-container{
    
    position: relative;
    max-width: $medium-container-width;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between
}

.row>:first-child {
    margin-left: 0;
}

.row>:last-child {
    margin-right: 0;
}

.col {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col,
[class*=" col-"],
[class^=col-] {
    margin: 1rem;
}

.col-1 {
    flex: 1;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}

.col-4 {
    flex: 4;
}

.col-5 {
    flex: 5;
}

.col-6 {
    flex: 6;
}

.col-7 {
    flex: 7;
}

.col-8 {
    flex: 8;
}

.col-9 {
    flex: 9;
}

.col-10 {
    flex: 10;
}

.col-11 {
    flex: 11;
}

.col-12 {
    flex: 12;
}

ul {
    list-style: circle inside;
}

ol {
    list-style: decimal inside;
}

.table {
    width: 100%;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
}

@media screen and (max-width:$tablet) {

    .col,
    [class*=" col-"],
    [class^=col-] {
        margin-top: 10px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        flex: 0 0 100%;
    }

}

/*
|---------------------------------------------------------------
| Panels
|---------------------------------------------------------------
*/

.panel{
    position: relative;
    background-color: #ffffff;
    padding: $padding;
    border: 1px solid #cccccc;
}



/*
|---------------------------------------------------------------
| Utility classes
|---------------------------------------------------------------
*/

.bg-primary{
    background-color: $primary;
    color: #ffffff;
}

.bg-light{
    background-color: #ffffff;
}

.bg-gray{
    background-color: $light-grey;
}

.bg-dark{
    background-color: $tertiary;
    color: #ffffff;
}

.drop-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  }

.br{
    border-radius: $border-radius;
}

.no-select{
    user-select: none;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}
/*
|---------------------------------------------------------------
| Margins and paddings
|---------------------------------------------------------------
*/
.gap{
    padding-top: 80px;
}
.m{
    margin: $margin;

    &-t{
        margin-top:$margin;
    }

    &-l{
        margin-left:$margin;
    }

    &-r{
        margin-right:$margin;
    }

    &-b{
        margin-bottom:$margin;
    }
}

.p{
    padding: $margin;

    &-t{
        padding-top:$margin;
    }

    &-l{
        padding-left:$margin;
    }

    &-r{
        padding-right:$margin;
    }

    &-b{
        padding-bottom:$margin;
    }
}

.b{
    border:1px solid $grey;

    &-t{
        border-top:1px solid $grey;
    }

    &-l{
        border-left:1px solid $grey;
    }

    &-r{
        border-right:1px solid $grey;
    }

    &-b{
        border-bottom:1px solid $grey;
    }
}

/*
|---------------------------------------------------------------
| Position utilities
|---------------------------------------------------------------
*/

.pos{
    &-rel{
        position: relative;;
    }
    &-abs{
        position: absolute;
    }
    &-sticky{
        position: sticky;
    }
}

/*
|---------------------------------------------------------------
| cursor utilities
|---------------------------------------------------------------
*/

.hand{
    cursor: pointer;
}

.img-responsive
{
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.text-center {
    text-align: center;
}

.full-screen {
    width: 100%;
    min-height: 100vh;
}

.v-a {
    display: flex;
    align-items: center;
}

.h-a {
    display: flex;
    justify-content: center;
}

.center,
.right {
    align-items: center;
    display: flex;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

.left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fixed {
    position: fixed;
    width: 100%;
}

@media screen and (max-width:$mobile) {
    .hide-phone {
        display: none;
    }
}

@media screen and (max-width:$tablet) {
    .hide-tablet {
        display: none;
    }
}


