@import "variables";


.sidebar-toggle{
    position:absolute;
    //the size of the box
    right:-40px;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    background-color: red;
}
