@import "variables";

.menu{
   background-color: #ffffff;
   border-bottom:1px solid $grey;
   min-height: 70px;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
   padding:20px;

   @media (max-width: $tablet ) 
   {
      display:none;
   }

   &-logo{
      max-width: 30px; 
      height: 30px; 
   }

   &-item-container{
      position:relative;  
      display:flex;
      flex-direction:row;
   }

   &-dropdown{
      position:absolute;
      top:40px;
      left:10px;
      min-width:600px; 
      height:200px; 
      background-color:#ffffff;
      padding:20px;
      border:1px solid $grey;
      border-radius:$border-radius;
      box-shadow:$shadow;   
      z-index:2;

   } 
}

/*                                                                          
|---------------------------------------------------------------            
| For the mobile menu                                                
|---------------------------------------------------------------            
|                                                                           
*/       


.menu-bar{

   //position: sticky;
   //top:0;
   background-color: #ffffff;
   border-bottom:1px solid $grey;
   color:$font-color;
   min-height: 70px;
   padding:20px;
   display: none;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   z-index: 4;
}

.menu-overlay{
   top:89px;
   left:0;
   //padding: $margin;
   position: fixed;
   height: 100%;
   width: 100%;
   background-color: #ffffff;
   color:$font-color;
   display: none;
   justify-content: flex-start;
   align-items: flex-start;
   flex-direction: column;
   z-index: 4;
}

.menu-item{
   position: relative;
   padding: 20px;
   border-bottom:1px solid $grey;
   cursor:pointer;
   width:100%;
   font-size: 18px;

}
.menu-item:hover{
   background-color:$light-grey;
   text-decoration: none;
   color:inherit;
}


@media (max-width:$tablet){
   .menu{
      display: none;
   }
   .menu-bar{
      display: flex;
   }
   .menu-overlay{
      display: flex;
   }
}
