@import "variables";

.menu{
   background-color: #ffffff;
   border-bottom:1px solid $grey;
   min-height: 70px;
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
   padding:20px;
   position:sticky; /*important*/
   z-index:1; /*important*/

   &-logo{
      max-width: 30px; 
      height: 30px; 
   }

   &-item-container{
      position:relative;  
      display:flex;
      flex-direction:row;
   }

   &-dropdown{
      position:absolute;
      top:40px;
      left:10px;
      min-width:600px; 
      height:200px; 
      background-color:#ffffff;
      padding:20px;
      border:1px solid $grey;
      border-radius:$border-radius;
      box-shadow:$shadow;   
      z-index:2;

   } 
}
