@import "variables";

.toasts {
    position: fixed;
    z-index: 2;
    bottom: 0px;
    right: 0px;
  }
  
  .toast {
    position: relative;
    background-color: #fff;
    min-height: 100px;
    min-width: 350px; 
    margin: 8px;
    padding: 15px; 
    border: 1px solid #ccc;
    border-radius: $border-radius; 
  }
  
.hide-toast{
  display: none;
}
