@import "variables";

/*
|---------------------------------------------------------------
| CSS for tooltip components
|---------------------------------------------------------------
|
| Ref: https://www.w3schools.com/howto/howto_css_tooltip.asp 
|
*/

.tooltip{

    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 200px;
    padding:10px;
    top:20px;
    left:-10px;
    z-index: 1;

    &-dark{
        position: absolute;
        width: 200px;
        padding:10px;
        top:20px;
        left:-10px;
        z-index: 1;
        background-color: $tertiary;
        border: 1px solid $tertiary;
        color:white;
    }
}

.tooltip-rel{
    position: relative;
}

.tooltip-highlight{
    background-color: $primary;
    color: #fff;

}